<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/getstarted.css">
    <title>Locollect</title>
</head>

<body>
    <div class="main">
    <div class="title">
        <h1>Locollect</h1>
    </div>
    <div class="intro">
        <h5>オリジナルマップ掲示板</h5>
    </div>
    <div class="getstarted">
    <h1><a href="/home">Get Started</a></h1>
    </div>
    </div>
</body>

</html>