html {
	overflow: auto;
}
 
body {
	overflow: hidden;
	background-color: #eee7e0;
}

.header{
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  text-align: center;
  background-color: rgb(167,210,141);
}

.header-left {
    float: left;
    color: white;
    font-size: 40px;
    margin-left: 20px;
}
    
.header-right{
    float: right;
}

.header-right li {
    float: left;
    padding: 1px 30px;
    list-style: none;
    display: block;
}

.header-right a{
    text-decoration: none;
    font-size: 20px;
    color:white; 
    
    
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.header-right a:hover {
   color: gray;
}


.space{
    margin: 80px;
}

.search { 
    float: left;
    display: block;  
    position: relative;  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align: center;
}

input.search{
    float: left;
    width: 200px;  
    height: 20px;
    border-radius: 3px;
    margin-left: 20px;
    text-align: left;
}  

input.img{
    float: left;
    border-radius: 3px;
    text-align: left;
    margin-right: 20px;
}

input.search:focus {
    border:solid 1px #EEA34A;
}

.gavi {
    float: right;
    background-color: white;
}

.box {
    text-align: center;
}


input.map_name {
    width: 200px;  
    height: 20px;
    border-radius: 3px;
} 

input.name {
    width: 200px;  
    height: 20px;
    border-radius: 3px;
}  

select.name{
    width: 200px;  
    height: 20px;
    border-radius: 3px;
} 

input.submit{
    border-radius: 3px;
    text-align: left;
    width: 40px;
    height: 20px;
}

input.search:focus {
    border:solid 1px #EEA34A;
}



.footer {
    clear: both;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    text-align: center;
    
}

.gnavi {
    float: right;
}

.result {
    align-content: center;
}